.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.open-modal {
    display: flex;
    align-items: center;
    animation: modal-show .3s;
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal header button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    font-size: 25px;
    /* font-weight: bold; */
    text-align: center;
    margin: .3rem;
    color: rgb(150, 150, 150);
    background-color: transparent;
}
.modal header {
    position: relative;
    padding: 1.2rem 1.2rem 1.5rem 1.2rem;
    background-color: rgb(204, 247, 255);
}
.modal section {
    width: 90%;
    max-width: 700px;
    margin:0 auto;
    border-radius: .5rem;
    background-color: rgb(204, 247, 255);
    overflow: auto;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -10%;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
.modal main {
    padding: 1rem;
}
.modal .main-box {
  opacity: 0.7;
  width: 85%;
  margin: .3rem auto;
  border-radius: .5rem;
  background-color: #ffffff;
}
.modal footer {
    padding: .8rem;
    text-align: right;
}
.modal footer button {
    padding: .3rem 1rem;
    color: #ffffff;
    background-color: #0088ff;
    border-radius: 5px;
    font-size: 1.25rem;
}