.pong-container > h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
.pong-main {
  display: flex;
  justify-content: center;
}
.pong-main > canvas {
  margin: 50px 100px 0 0;
}

.btn-pong {
  border: 2px solid #547aa5;
  cursor: pointer;
  background: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 17px;
  transition: 0.25s;  font-family: 'MaplestoryOTFBold';
}

.btn-pong:hover {
  box-shadow: inset 0 -3.25em 0 0 #547aa5;
  border: none;
  color: white;
}

.btn-pong-rule {
  position: absolute;
  top: 80px;
  right: 350px;
  width: 130px;
}

.btn-pong-out {
  position: absolute;
  top: 80px;
  right: 200px;
  width: 130px;
}