.air-drawing {
  width: 100%;
  height: 100%;
}

.answer-input {
  height: 30px;
  font-size: 1rem;
  text-indent: 2%;
  border: solid 1px #c4c4c4;
  border-radius: 30px;
  margin-bottom: 30px;
  padding-top: 4px;
}

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  font-family: "MaplestoryOTFBold";
  text-align: center;
}

.answer-input:focus {
  text-align: center;
  font-family: "MaplestoryOTFBold";

  outline: none;
  box-shadow: 0px 0px 5px 0px #58a7ff;
}

.score-board {
  display: inline-block;
  margin-left: 10px;
}

.answer-form {
  display: flex;
}

/* Button */
.btn-ans {
  width: 70px;
  margin-left: 8px;
  height: 40px;
  font-size: 1rem;
  text-indent: 2%;
  border-radius: 30px;
  margin-bottom: 30px;
  padding-top: 4px;

  background-color: aliceblue;
  cursor: pointer;
  font-family: "MaplestoryOTFBold";
  transition: all ease 0.2s;
}

.btn-ans:hover {
  transform: rotate(-5deg) scale(1.05);
}

.btn-reset {
  width: 70px;
  margin-left: 8px;
  height: 40px;
  font-size: 1rem;
  text-indent: 2%;
  border-radius: 30px;
  margin-bottom: 30px;
  padding-top: 4px;

  background-color: aliceblue;
  cursor: pointer;
  font-family: "MaplestoryOTFBold";
  transition: all ease 0.2s;
}

.form-canvas {
  display: block;
}

div.game-row {
  width: 100%;
  display: flex;
}

div.game-left {
  width: 50%;
  float: center;
}

div.game-right {
  width: 50%;
  float: center;
}

.recognize-cam {
  text-align: center;
  margin: auto 0px;
}

.wait-canvas {
  background: #fff;
  border: 10px solid rgba(42, 61, 208, 0.311);
  border-radius: 30px;
  overflow: hidden;

  /* this fixes the overflow:hidden in Chrome/Opera */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.gesture-cam {
  border-radius: 30px;
}
