@font-face {
  font-family: "arcade-font";
  src: url("../../assets/fonts/ARCADECLASSIC.TTF");
}

.snake-container {
  display: flex;
  margin-top: 10vh;
  justify-content: space-evenly;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 10vh;
    overflow: auto;
    display: block;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 30px 0;
}

.btn-snake {
  width: 40%;
  height: 20%;
  margin: auto;
  border-radius: 30px;
  background-color: aliceblue;
  cursor: pointer;
  font-size: 1.2rem;
  display: table;
  font-weight: bold;
  transition: all ease 0.3s;
  text-decoration: none;
  color: black;
  text-align: center;
}

/* .btn-snake:hover {
  transform: rotate(5deg) scale(1.05);
} */

.vision-wrapper {
  width: 600px;
  height: 600px;
}

video {
  position: absolute;
  top: 450px;
  right: 350px;

  margin: auto;
  display: flex;
  height: auto;
  box-shadow: 1px 3px 8px 2px #0000008f;

  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
}

.snake-img-up {
  position: absolute;
  top: 200px;
  right: 350px;
}

.snake-img-down {
  position: absolute;
  top: 650px;
  right: 350px;
}

.snake-img-left {
  position: absolute;
  top: 450px;
  right: 600px;
}

.snake-img-right {
  position: absolute;
  top: 450px;
  right: 100px;
}

.snake-infotext {
  text-align: center;
  margin: 0;
}