.snake-container {
  display: flex;
  margin-top: 10vh;
  justify-content: space-evenly;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 10vh;
    overflow: auto;
    display: block;
  }
}

.btn-snake {
  border: 2px solid #547aa5;
  cursor: pointer;
  background: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 17px;
  transition: 0.25s;
  font-family: 'MaplestoryOTFBold';
}

.btn-snake:hover {
  box-shadow: inset 0 -3.25em 0 0 #547aa5;
  border: none;
  color: white;
}

.btn-snake-rule {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 130px;
}

.btn-snake-out {
  position: absolute;
  top: 150px;
  right: 50px;
  width: 130px;
}

.vision-wrapper {
  width: 600px;
  height: 600px;
}

.snake-video {
  position: absolute;
  top: 350px;
  right: 350px;

  margin: auto;
  display: flex;
  height: auto;
  box-shadow: 1px 3px 8px 2px #0000008f;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.snake-capture {
  transform: rotate(0deg);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.snake-img-up {
  position: absolute;
  top: 100px;
  right: 350px;
}

.snake-img-down {
  position: absolute;
  top: 550px;
  right: 350px;
}

.snake-img-left {
  position: absolute;
  top: 350px;
  right: 600px;
}

.snake-img-right {
  position: absolute;
  top: 350px;
  right: 100px;
}

.snake-infotext {
  text-align: center;
  margin: 0;
}

.snake-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.snake-open-modal {
  display: flex;
  align-items: center;
  animation: modal-show .3s;
}

.snake-modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.snake-modal header button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  font-size: 25px;
  /* font-weight: bold; */
  text-align: center;
  margin: .3rem;
  color: rgb(150, 150, 150);
  background-color: transparent;
}
.snake-modal header {
  position: relative;
  padding: 1.2rem 1.2rem 1.5rem 1.2rem;
  /* background-color: rgb(204, 247, 255); */
  background-color: lightblue;
}
.snake-modal section {
  width: 90%;
  max-width: 700px;
  margin:0 auto;
  border-radius: .5rem;
  /* background-color: rgb(204, 247, 255); */
  background-color: lightblue;
  overflow: auto;
}
@keyframes modal-show {
  from {
      opacity: 0;
      margin-top: -10%;
  }
  to {
      opacity: 1;
      margin-top: 0;
  }
}
.snake-modal main {
  padding: 1rem;
}
.snake-modal .main-box {
opacity: 0.7;
width: 85%;
margin: .3rem auto;
border-radius: .5rem;
background-color: #ffffff;
}
.snake-modal footer {
  padding: .8rem;
  text-align: right;
}
.snake-modal footer button {
  padding: .3rem 1rem;
  color: #ffffff;
  background-color: #0088ff;
  border-radius: 5px;
  font-size: 1.25rem;
}