@font-face {
  font-family: "arcade-font";
  src: url("../../assets/fonts/ARCADECLASSIC.TTF");
}

.snake-container {
  display: flex;
  margin-top: 10vh;
  justify-content: space-evenly;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 10vh;
    overflow: auto;
    display: block;
  }
}

.btn-snake {
  border: 2px solid #547aa5;
  cursor: pointer;
  background: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 17px;
  transition: 0.25s;
}

.btn-snake:hover {
  box-shadow: inset 0 -3.25em 0 0 #547aa5;
  border: none;
  color: white;
}

.btn-snake-rule {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 130px;
}

.btn-snake-out {
  position: absolute;
  top: 150px;
  right: 50px;
  width: 130px;
}

.vision-wrapper {
  width: 600px;
  height: 600px;
}

video {
  position: absolute;
  top: 350px;
  right: 350px;

  margin: auto;
  display: flex;
  height: auto;
  box-shadow: 1px 3px 8px 2px #0000008f;

  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
}

.snake-capture {
  transform:rotate(0deg);
  -moz-transform: scaleX(-1); 
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);   
  filter: FlipH;
  -ms-filter: "FlipH";
}

.snake-img-up {
  position: absolute;
  top: 100px;
  right: 350px;
}

.snake-img-down {
  position: absolute;
  top: 550px;
  right: 350px;
}

.snake-img-left {
  position: absolute;
  top: 350px;
  right: 600px;
}

.snake-img-right {
  position: absolute;
  top: 350px;
  right: 100px;
}

.snake-infotext {
  text-align: center;
  margin: 0;
}