.my-container {
  display: flex;
  padding-top: 3vh;
  /* space-around는 여유 공간이 음수면 왼쪽이 잘린다. */
  justify-content: space-between;
  overflow: auto;
}
.my-container::before, .my-container::after {
  content: '';
}
.trophy-region {
  width: 400px;
  height: fit-content;
  min-height: 900px;
  /* background-color: lightblue; */
  margin: 2rem;
  text-align: center;
  border-radius: 30px;
  /* border: 1rem solid lightblue; */
}
.trophy-list {
  display: flex;
  justify-content: space-around;
}
.trophy-card {
  padding: 1rem;
}
.trophy-card section {
  width: 130px;
  padding: .3rem;
  border-radius: .5rem;
  background-color: white;
}
.trophy-card main {
  background-color: aliceblue;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  /* line-height: 60px; */
  padding: 7px;
  margin: 0 auto;
}
.trophy-card main img {
  width: 85%;
  height: 85%;
}
.trophy-card footer {
  font-weight: bold;
  margin: 1rem;
  font-size: 1.2rem;
}
/* menu icon */
.menu-container {
  margin: 3vh 0;
  position: relative;
  z-index: 99;
}
.icon-arrow {
  color: #58A7FF;
  position: absolute;
  right: 50px;
  cursor: pointer;
  animation: icon-arrow 1s infinite;
}
@keyframes icon-arrow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(5px);
  }
}
.icon-main {
  position: absolute;
  color: #fff;
  top: 100px;
  cursor: pointer;
  font-size: 1.1rem;
}
.icon-ranking {
  position: absolute;
  color: #fff;
  top: 174px;
  cursor: pointer;
}
.icon-logout {
  position: absolute;
  color: #fff;
  top: 248px;
  cursor: pointer;
  font-size: 1.1rem;
}
.icon-circle {
  visibility: hidden;
  background-color: #0088ff;
  width: 50px;
  height: 50px;
  right: 40px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  /* vertical-align: middle; */
  text-align: center;
  line-height: 65px;
  padding: 5px;
}
.menu-open {
  animation: menu-open 3s ease-in-out forwards;
}
.menu-open:nth-child(3) {
  transform: translateY(-30px);
  animation-delay: .1s;
}
@keyframes menu-open {
  20%, 50%, 80%, 100% {transform: translateY(0);} 
  0% {transform: translateY(-30px);}
  40% {transform: translateY(-15px);} 
  60% {transform: translateY(-7px);} 
  90% {transform: translateY(-1px);}
}