/* Flip Card */
.main-container {
  display: flex;
  padding-top: 10vh;
  justify-content: space-evenly;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .main-container {
    padding-top: 10vh;
    overflow: auto;
    display: block;
  }
}
.ReactFlipCard {
  /* margin: auto; */
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  width: 364px;
  height: 550px;
}
.flip-card-front {
  max-width: 100%;
  margin: 1rem;
}
.flip-card-back-pong {
  width: 330px;
  height: 500px;
  border-radius: 30px;
  margin: 1rem;
  background-color: rgb(255, 183, 0);
}
.flip-card-back-snake {
  width: 330px;
  height: 500px;
  border-radius: 30px;
  margin: 1rem;
  background-color: #9de87b;
}
.flip-card-back-drawing {
  width: 330px;
  height: 500px;
  border-radius: 30px;
  margin: 1rem;
  background-color: #5771fb;
}
.img-container {
  /* max-width: 100%; */
  width: 330px;
  height: 500px;
  border-radius: 30px;
}
/* Button */
.btn-makeroom {
  position: relative;
  width: 90%;
  height: 10%;
  top: 30%;
  margin: auto;
  border-radius: 30px;
  background-color: aliceblue;
  cursor: pointer;
  font-size: 1.2rem;
  display: table;
  font-weight: bold;
  transition: all ease 0.2s;
}
.btn-makeroom:hover {
  transform: rotate(-5deg) scale(1.05);
}
.btn-enterroom {
  position: relative;
  width: 90%;
  height: 10%;
  top: 50%;
  margin: auto;
  border-radius: 30px;
  background-color: aliceblue;
  cursor: pointer;
  font-size: 1.2rem;
  display: table;
  font-weight: bold;
  transition: all ease 0.3s;
}
.btn-enterroom:hover {
  transform: rotate(-5deg) scale(1.05);
}
.btn-play {
  position: relative;
  width: 90%;
  height: 10%;
  top: 45%;
  margin: auto;
  border-radius: 30px;
  background-color: aliceblue;
  cursor: pointer;
  font-size: 1.2rem;
  display: table;
  font-weight: bold;
  transition: all ease 0.3s;
}
.btn-play:hover {
  transform: rotate(5deg) scale(1.05);
}
/* Text on the button */
.btn-text-align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.link-text {
  text-decoration: none;
  color: black;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.open-modal {
  display: flex;
  align-items: center;
  animation: modal-show 0.3s;
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal header button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  font-size: 25px;
  /* font-weight: bold; */
  text-align: center;
  margin: 0.3rem;
  color: rgb(150, 150, 150);
  background-color: transparent;
}
.modal header {
  position: relative;
  padding: 1.2rem 1.2rem 1.5rem 1.2rem;
  background-color: rgb(204, 247, 255);
}
.modal section {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: rgb(204, 247, 255);
  overflow: auto;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -10%;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.modal main {
  padding: 1rem;
}
.modal .main-box {
  opacity: 0.7;
  width: 85%;
  margin: 0.3rem auto;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.modal footer {
  padding: 0.8rem;
  text-align: right;
}
.modal footer button {
  padding: 0.3rem 1rem;
  color: #ffffff;
  background-color: #0088ff;
  border-radius: 5px;
  font-size: 1.25rem;
}
/* .router-link-btn {
    padding: .3rem 1rem;
    color: #ffffff;
    background-color: #0088ff;
    border-radius: 5px;
    font-size: 1.25rem;
    text-decoration: none;
} */
/* modal: MakeRoom */
.modal-label {
  display: flex;
  justify-content: start;
  font-size: 0.8rem;
  padding-bottom: 5px;
  text-indent: 0.5rem;
}
.modal-input {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  text-indent: 2%;
  border: solid 1px #c4c4c4;
  border-radius: 30px;
  margin-bottom: 30px;
  padding-top: 4px;
}
.modal-input:focus {
  outline: none;
  box-shadow: 0px 0px 7px 0px #58a7ff;
}
.modal-textarea {
  width: 100%;
  height: 100px;
  font-size: 1rem;
  text-indent: 2%;
  border: solid 1px #c4c4c4;
  border-radius: 15px;
  margin-bottom: 30px;
  line-height: 40px;
}
.modal-textarea:focus {
  outline: none;
  box-shadow: 0px 0px 7px 0px #58a7ff;
}
/* menu icon */
.menu-container {
  margin: 3vh 0;
  position: relative;
  z-index: 99;
}
.icon-arrow {
  color: #58a7ff;
  position: absolute;
  right: 50px;
  cursor: pointer;
  animation: icon-arrow 1s infinite;
}
@keyframes icon-arrow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(5px);
  }
}
.icon-mypage {
  position: absolute;
  color: #fff;
  top: 100px;
  cursor: pointer;
}
.icon-ranking {
  position: absolute;
  color: #fff;
  top: 174px;
  cursor: pointer;
}
.icon-logout {
  position: absolute;
  color: #fff;
  top: 248px;
  cursor: pointer;
  font-size: 1.1rem;
}
.icon-circle {
  visibility: hidden;
  background-color: #0088ff;
  width: 50px;
  height: 50px;
  right: 40px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  /* vertical-align: middle; */
  text-align: center;
  line-height: 65px;
  padding: 5px;
}
.menu-open {
  animation: menu-open 3s ease-in-out forwards;
}
.menu-open:nth-child(3) {
  transform: translateY(-30px);
  animation-delay: 0.1s;
}
@keyframes menu-open {
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
  90% {
    transform: translateY(-1px);
  }
}
/* Logo */
.main-ggame-logo {
  position: absolute;
  left: 30px;
  top: 20px;
  text-align: start;
  font-size: 50px;
  font-family: "CookieRun-Regular";
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}